$white : #ffffff;
$black : #000000;
$purple : #5f2a71;
$red : #c9164d;
$blue : #530dee;
$green : #0ced94;
$orange : #f88a05;
$yellow : #f8dc0f;
$cyan : #07fab3;

$light-gray : #eeeeee;
$dark-grey : #444444;